{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
    .error{
    width: 100%;
    height: 3rem;
    position: relative;
}
.errorlist
    {
        color: red;
        list-style-type: none;
        display: flex;
        font-size: 12px;
        position: absolute;
        left: -46px;
        bottom: -1rem;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="tab-login">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="text-center mb-3">
                            <h1>Sign in</h1>
                            
                            <div class="error">
                            {{ form.non_field_errors }}
                        {% if form.errors %}
                        {{ form.errors|pluralize }}
                        {% endif %}
                        {% for field in form %}

                            {{ field.field.error }}
                            {{ field.errors }}
                            {% endfor %}
                        </div>
                        </div>

                        

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <!-- <input type="email" id="loginName" class="form-control" /> -->
                            {{ form.username}}

                            <label class="form-label" for="loginName">Username</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="loginPassword" class="form-control" /> -->
                            {{ form.password}}
                            <label class="form-label" for="loginPassword">Password</label>
                        </div>

                        <!-- 2 column grid layout -->
                        <div class="row mb-4">
                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-3 mb-md-0">
                                    <input class="form-check-input" type="checkbox" value="" id="loginCheck"
                                        checked />
                                    <label class="form-check-label" for="loginCheck"> Remember me </label>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Simple link -->
                                <a href="#!">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>
                        <!-- <a href="index.html" class="text_color text-decoration-none">Sign in</a> -->
                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
                        </div>
                       
                    </form>
                </div>

            </div>
        </div>

    </div>


  
</div>
{% endblock %}