{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container mt-5 vh-100">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="tab-login">
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <h1>Sign Up</h1>

                            <div class="error">
                            {{ form.non_field_errors }}
                        {% if form.errors %}
                        {{ form.errors|pluralize }}
                        {% endif %}
                        {% for field in form %}

                            {{ field.field.error }}
                            {{ field.errors }}
                            {% endfor %}
                        </div>
                        </div>

                       

                        <!-- Name input -->
                        <!-- <div class="form-outline mb-4">
                            <input type="text" id="registerName" class="form-control" />
                            <label class="form-label" for="registerName">Name</label>
                        </div> -->

                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <!-- <input type="text" id="registerUsername" class="form-control" /> -->
                            {{ form.username }}

                            <label class="form-label" for="registerUsername">Username</label>
                        </div>

                        <!-- Email input -->
                        <!-- <div class="form-outline mb-4">
                            <input type="email" id="registerEmail" class="form-control" />
                            <label class="form-label" for="registerEmail">Email</label>
                        </div> -->

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="registerPassword" class="form-control" /> -->
                            {{ form.password1 }}
                            <label class="form-label" for="registerPassword">Password</label>
                        </div>
                        
                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                            <!-- <input type="password" id="registerRepeatPassword" class="form-control" /> -->
                            {{ form.password2 }}
                            <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                        </div>



                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-3">Create Your Account</button>


                    </form>
                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}