*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.header_top {
  height: 90px;
  width: 100%;
  background-color: #2b6ae9;
  border: 1px solid #2b6ae9;
}
.bg_color {
  background-color: #2b6ae9;
}
.text_color {
  color: #ffffff;
}

.Fiender_text_1 {
  color: #ffffff;
  font-family: Sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.Fiender_text_2 {
  color: #ffffff;
  font-family: Sans-serif;
  font-size: 16px;
  
}

.finder_footer {
  /* height: 100%; */
  width: 100%;
  background-color: #2b6ae9;
  position: fixed;
  bottom: 0;
  
}
.finder_body {
  display: flex;
  align-items: center;
  width: 400px;
}

.finder_margin_top {
  margin-top: 32px;
}
.spacer{
  height: 10rem;
  width: 100%;
}

