<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practice JS</title>
  <link rel="stylesheet" href="CSS/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

</head>

<body>
  <div class="header_top">
    <div class="container">
      <div class="Fiender_text_1">Email Finder</div>
      <div class="Fiender_text_2">Find Your Related Emailer</div>
    </div>
  </div>
  <div class="container mt-5 vh-100">


    <div class="row justify-content-center">
      <div class="col-4">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="tab-login">
            <form>
              <div class="text-center mb-3">
                <p>Sign in with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>

              <p class="text-center">or:</p>

              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="registerName" class="form-control" />
                <label class="form-label" for="registerName">Name</label>
              </div>

              <!-- Username input -->
              <div class="form-outline mb-4">
                <input type="text" id="registerUsername" class="form-control" />
                <label class="form-label" for="registerUsername">Username</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="registerEmail" class="form-control" />
                <label class="form-label" for="registerEmail">Email</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="registerPassword" class="form-control" />
                <label class="form-label" for="registerPassword">Password</label>
              </div>

              <!-- Repeat Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="registerRepeatPassword" class="form-control" />
                <label class="form-label" for="registerRepeatPassword">Repeat password</label>
              </div>



              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-3">Create Your Account</button>


            </form>
          </div>

        </div>
      </div>

    </div>

  </div>
  <!-- Pills content -->

  </div>

  <div class="spacer"></div>
  <div class="finder_footer bg-primary vh-100">
    <footer class="text-center text-white">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Images -->
        <section class="">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <div class="bg-image">
                <img src="Images/Picture1.png" class="w-100 h-50" />
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0"></div>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <section>
                <div class=" text-center text-md-start  py-3  bg-primary">
                  <!-- Copyright -->
                  <div class="text-white mb-0 mb-md-0">
                    Copyright © 2023. All rights reserved.
                  </div>
                  <!-- Copyright -->

                </div>
              </section>
            </div>




          </div>
        </section>
        <!-- Section: Images -->
      </div>


    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/fontawesome.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
  <script src="JS/script.js"></script>
</body>

</html>