{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <form method="GET" action="" id="filterform">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3 ui-widget">
                <label for="id_country__name">Country</label>
                {% render_field fileFilter.form.country__name class="form-control " placeholder="country" %}
            </div>
            <div class="form-group col-md-3">
                <label for="id_product__name">CRM Product</label>
                {% render_field fileFilter.form.product__name  class="form-control" placeholder="CRM Product" %}
            </div>
            <div class="form-group col-md-3">
                <label for="id_productId">My Sheet ID</label>
                {% render_field fileFilter.form.productId class="form-control" placeholder="My Sheet ID" %}
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-primary finder_margin_top">Search</button>
                <button class="btn btn-danger finder_margin_top" id="clearForm">Clear</button>
            </div>
        </div>
    </form>

</div>
<div class="container mt-3">
    <table class="table table-hover">
        <tbody>
            <thead class="bg_color text_color font-weight-bold">
                <tr>
                    <td>Country</td>
                    <td>CRM Product</td>
                    <td>My Sheet Id</td>
                    <td>Download</td>
                    <td>View</td>
                </tr>
            </thead>
            {% for file in files %}
            <tr style="height: 40px;">
                <td>{{ file.country }}</td>
                <td>{{ file.product }}</td>
                <td>{{ file.productId }}</td>
                <td><a style="text-decoration: none;" href="/media/{{ file.file }}" download>
                        download <i class="fa fa-download" aria-hidden="true"></i></a></td>
                <td><a target="_blank" href="/media/{{ file.preview }}">view <i class="fa fa-eye" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById("clearForm").addEventListener("click", function (event) {
        event.preventDefault()
        document.getElementById('id_country__name').value = ''
        document.getElementById('id_product__name').value = ''
        document.getElementById('id_productId').value = ''
        // document.getElementById('filterform').submit()

    })
    $(function () {
        const countries = JSON.parse("{{countries|escapejs}}");
        var availableCountries = [];
        for (var x in countries) {
            availableCountries.push(countries[x].name)
        }
        $("#id_country__name").autocomplete({
            source: availableCountries
        });
    });
    $(function () {
        const products = JSON.parse("{{products|escapejs}}");
        var availableProducts = [];
        for (var x in products) {
            availableProducts.push(products[x].name)
        }
        $("#id_product__name").autocomplete({
            source: availableProducts
        });
    });
    $(function () {
        const productIds = JSON.parse("{{productIds|escapejs}}");

        var availableProductIds = [];
        for (var x in productIds) {
            availableProductIds.push(productIds[x].productId)
        }
        $("#id_productId").autocomplete({
            source: availableProductIds
        });
    });

</script>

{% endblock %}