{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!(
{% if user.is_superuser %}
Admin
{% endif %}
)
<style>
    .country {
        margin-top: 2rem;
        padding: 5px 10px;
    }
</style>
<div class="search">
    <form method="GET" action="">
        {% csrf_token %}
        {% render_field fileFilter.form.country__name class="country" placeholder="country" %}
        {% render_field fileFilter.form.product__name class="country" placeholder="product" %}
        {% render_field fileFilter.form.productId class="country" placeholder="product ID" %}
        <input type="submit" value="Search">
        <script>

            $(function () {
                const countries = JSON.parse("{{countries|escapejs}}");
                var availableCountries = [];
                for (var x in countries) {
                    availableCountries.push(countries[x].name)
                }
                $("#id_country__name").autocomplete({
                    source: availableCountries
                });
            });
            $(function () {
                const products = JSON.parse("{{products|escapejs}}");
                var availableProducts = [];
                for (var x in products) {
                    availableProducts.push(products[x].name)
                }
                $("#id_product__name").autocomplete({
                    source: availableProducts
                });
            });
            $(function () {
                const productIds = JSON.parse("{{productIds|escapejs}}");

                var availableProductIds = [];
                for (var x in productIds) {
                    availableProductIds.push(productIds[x].productId)
                }
                $("#id_productId").autocomplete({
                    source: availableProductIds
                });
            });
        </script>
    </form>
</div>
<br><br>
<table style="width: 50%;">
    {% for file in files %}
    <tr style="height: 40px;">
        <td>{{ file.country }}</td>
        <td>{{ file.product }}</td>
        <td>{{ file.productId }}</td>
        <td><a href="/media/{{ file.file }}" download>download</a></td>
        <td><a href="/media/{{ file.preview }}">view</a></td>
    </tr>
    {% endfor %}
</table>

<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}